* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font: normal 16px sans-serif;
  color: black;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  background: -webkit-gradient(linear,right top, left top,from(#f2f2f2),color-stop(rgba(122,122,122,0.6)),to(#f2f2f2));
  background: -webkit-linear-gradient(right,#f2f2f2,rgba(122,122,122,0.6),#f2f2f2);
  background: -o-linear-gradient(right,#f2f2f2,rgba(122,122,122,0.6),#f2f2f2);
  background: linear-gradient(to left,#f2f2f2,rgba(122,122,122,0.6),#f2f2f2);
  text-align: justify;
}

a {
  text-decoration: none;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
  cursor: pointer;
}

h1,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 7px;
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 400;
  margin-bottom: 40px;
}

h3 {
  margin-top: 15px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 2px;
  font-size: 16px;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

h5 {
  margin-top: 10px;
}

h5:nth-of-type(even) {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
}

section {
  position: relative;
  background: white;
  margin: 100px auto;
  width: 80%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: solid 5px black;
  border-top: solid 5px black;
  border-right: solid 1px black;
  -webkit-box-shadow: 8px 10px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
          box-shadow: 8px 10px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#corner {
  position: absolute;
  width: 100%;
  height: 210px;
  border: none;
}

polygon {
  z-index: -1;
  fill: black;
  stroke: grey;
  stroke-width: 0.5;
}

.content {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.right {
  padding-top: 90px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.skill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head div {
  margin: 20px auto 70px auto;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-image: url("./cv.jpg");
}

.item {
  margin-top: 30px;
  padding-left: 10px;
}

.footer {
  color: white;
  width: 100%;
  padding: 15px 0 25px 0;
  text-align: center;
  background: black;
}

.footer h3 {
  text-align: center;
  letter-spacing: 8px;
  opacity: 0.8;
  font-weight: 100;
}

.icons {
  margin: 10px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.icons a {
  color: white;
}

.contact p {
  letter-spacing: 2px;
}

p {
  font-weight: bold;
}

.profile {
  margin-bottom: 80px;
}

@media (max-width: 1000px) {
  section {
    margin: 0 auto;
    width: 100%;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h3 {
    text-align: center;
  }
  * {
    text-align: center;
    list-style: none;
  }
  .right {
    padding-top: 0;
  }
  .skill-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  ul {
    margin-top: 0;
  }
  .profile {
    margin-bottom: 0;
  }
  .item h4 {
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .skill-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}